<div
  class="w-full flex flex-col gap-16 text-white font-semibold text-2xl overflow-x-hidden"
>
  <div class="flex flex-col gap-5">
    <div class="flex gap-5">
      <input
        type="text"
        placeholder="Add new Task"
        [(ngModel)]="newTask"
        class="bg-transparent rounded-xl border-2 border-white/50 py-3 px-5 outline-none text-lg font-normal"
      />
      <button
        (click)="addTodo()"
        class="py-4 px-8 rounded-xl font-bold text-lg bg-black cursor-pointer"
      >
        Add
      </button>
    </div>
    <div class="flex gap-2 justify-between">
      @for (button of todoFilterType; track $index) {
      <button
        (click)="filterByType(button, $index)"
        [class]=" `py-2 px-6 rounded-lg font-medium text-lg  cursor-pointer border border-black  ${avtiveFilterButtonId === $index ? 'text-white bg-black' : 'text-black bg-transparent'}` "
      >
        {{ button }}
      </button>
      }
    </div>
  </div>

  <div class="flex flex-col gap-8 shadow-xl px-5 py-10 rounded-xl">
    @for ( items of filteredTodo ; track items.id ) {
    <app-todo-item
      [todoItem]="items"
      (shareId)="toogleItemStatus($event)"
      (onDelete)="deleteTodo($event)"
    />
    } @empty {
    <p class="text-black/20 font-semibold text-lg">No Task Yet</p>
    }
  </div>
</div>
